<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
  </head>


  <body ng-controller="NavController as navCtrl">
*****
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="https://hinduperspective.files.wordpress.com/2014/02/apu.png" height="50" width="50"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{navCtrl.getUser().name}}</li>
        <li><a href="sass.html"><img ng-src="{{navCtrl.getUser().avatar}}" height="50" width="50"></a></li>
        <li><a ui-sref="user">Your Account</a></li>
        <li><a ui-sref="cart">Cart</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
<!--     <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a ng-click="myFilter = { }">All</a></li>
        <li class="tab"><a ng-click="myFilter = {category: 'food'}">Food</a></li>
        <li class="tab"><a ng-click="myFilter = {category: 'toys'}">Toys</li>
        <li class="tab"><input ng-model="search"></li>
      </ul>
    </div> -->
  </nav>








****
      <img class="apu" ui-sref="home" src='https://hinduperspective.files.wordpress.com/2014/02/apu.png' height="100" width="100">
      <a ng-hide="navCtrl.isLoggedIn()" ui-sref="login">Log In</a><br>
      <a ng-hide="navCtrl.isLoggedIn()" ui-sref="signup">Sign Up</a><br>
      <a ng-show="navCtrl.isLoggedIn()" ng-click="navCtrl.logout()">Log Out</a><br>
      <a ui-sref="cart">Cart: {{navCtrl.cart.length}}</a><br>







    <div class="row">



        <div ui-view class="container"></div>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/services/auth-interceptor.js"></script>
    <script src="/javascripts/services/token-service.js"></script>
    <script src="/javascripts/services/user-service.js"></script>
    <script src="/javascripts/services/product-resource.js"></script>
    <script src="/javascripts/services/cart-service.js"></script>
    <script src="/javascripts/services/order-service.js"></script>
    <script src="/javascripts/controllers/nav-controller.js"></script>
    <script src="/javascripts/controllers/products-controller.js"></script>
    <script src="/javascripts/controllers/user-controller.js"></script>
    <script src="/javascripts/controllers/new-controller.js"></script>
    <script src="/javascripts/controllers/order-controller.js"></script>
  </div>
  </body>
</html>
