<h2>welcome {{navCtrl.getUser().name}}</h2>
<!-- welcome {{navCtrl.getUser().address}} -->

<h4 ng-show="navCtrl.isLoggedIn()">Address:</h4>
<!-- <ul ng-repeat="x in navCtrl.getUser().address track by $index">
  <li>Street: {{x.street}}</li>
  <li>City: {{x.city}}</li>
  <li>Zipcode: {{x.zipcode}}</li>
</ul> -->

<li ng-show="navCtrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="newProduct">New Product</a></li>

<div ng-controller="ProductsController as pCtrl">

<ul ng-repeat="p in pCtrl.products">
<div class="col-xs-4">
  <li><a ui-sref="viewProduct({productId: p._id})">{{p.name}}</a></li>
  <li>{{p.description}}</li>
<!--     <a ng-click="pCtrl.delProduct(p)" >delete</a> -->
  <li><img ng-src='{{p.imageURL}}' height="300" width="300"></li>
  </div>
</ul>
</div>
