<div class="input-field col s12">
  <i class="material-icons prefix">search</i>
  <input type="textarea" id="autocomplete-input" class="form-control" ng-model="search">
</div>
<br>
<br>
<br>
<h4> Shop by Category </h4>
<button class="waves-effect waves-light btn green darken-2" ng-click="myFilter = { }">All</button> |
<button class="waves-effect waves-light btn green darken-2" ng-click="myFilter = {category: 'food'}">Food</button> |
<button class="waves-effect waves-light btn green darken-2" ng-click="myFilter = {category: 'drinks'}">Drinks</button> |
<button class="waves-effect waves-light btn green darken-2" ng-click="myFilter = {category: 'toys'}">Toys</button> |
<button class="waves-effect waves-light btn green darken-2" ng-click="myFilter = {category: 'electronics'}">Electronics</button> |
<button class="waves-effect waves-light btn green darken-2" ng-click="myFilter = {category: 'other'}">Other</button> |
<li ng-show="navCtrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="newProduct">New Product</a></li>
<div ng-controller="ProductsController as pCtrl">
  <div ng-repeat="product in pCtrl.products | orderBy:'name' | filter:search | filter:myFilter">
    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img ui-sref="viewProduct({productId: product._id})" ng-src="{{product.imageURL}}" height="300" width="200">
          <a class="btn-floating halfway-fab waves-effect waves-light green" ng-click="pCtrl.addItemToCart(product)"><i>ADD</i></a>
        </div>
        <div class="card-content">
          <h4>{{product.name}}</h4>
          <h5>${{product.price}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
