<h2>Order Details</h2>
<p><strong>Date Created:</strong> {{orderCtrl.order.createdAt | date: "mediumDate"}}</p>
<p><strong>Total:</strong> ${{orderCtrl.order.total}}</p>
<br>
<strong>Shipping Address</strong>
<p><strong>Street: </strong>{{orderCtrl.order.street}}</p>
<p><strong>City:</strong> {{orderCtrl.order.city}}</p>
<p><strong>Zipcode:</strong> {{orderCtrl.order.zipcode}}</p>
<br>
<br>
<br>
<div ng-repeat="item in orderCtrl.order.items">
  <div class="order">
    <img ng-src='{{item.imageURL}}' height="60" width="60">
    <p><strong>Product:</strong> {{item.name}}</p>
    <p><strong>Price per Item:</strong> ${{item.price}}</p>
    <p><strong>Quantity:</strong> {{item.qty}}</p>
  </div>
</div>
<br>
<br>
<br>
<h4> Edit your Shipping Address</h4>
Street:<input type="text" ng-model="orderCtrl.order.street" id="street" class="input-size">
City<input type="text" ng-model="orderCtrl.order.city" id="city" class="input-size">
Zipcode<input type="text" ng-model="orderCtrl.order.zipcode" id="zipcode" class="input-size">
<button class="btn btn-xs btn-info" ng-click="orderCtrl.editOrder(order)">Save</button>
