* {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "akbar";
  src: url("akbar.ttf");
}

a {
  color: #00B7FF;
}

.apu {
  float: left;
}

.col-md-4 {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 30px;
}

.float {
  float: left;
  border: 1px solid black;
  margin-right: 10px;
}

.card-img-top {
  border: 1px solid black;
}

.arrow {
  font-size: 20px;
  margin: 10px;
}

.card {
  border: 6px solid black;
}

.nav-extended {
  padding: 10px;
  border: 2px solid black;
  background-color: rgba(0,0,0, .5);
}

.checkout {
  border: 2px solid black;
  border-radius: 10px;
}

.clear {
  clear: left;
}

.orders {
  border: 4px solid black;
  margin-top: 20px;
  margin-bottom: 50px;
}

.order {
  border: 1px solid black;
}

.audio {
  display: none;
}

.center-form {
  text-align: center;
}

.input-size {
  font-size: 20px !important;
}

.label-size {
  font-size: 15px !important;
}

.m2 {
  height: 400px;
}

.card-content {
  height: 150px;
  text-align: center;
}

.card-image {
  text-align: center;
}

.filters {
  margin-bottom: 50px;
}

.reviews {
  border: 1px solid black;
  border-radius: 5px;
}

.review-form {
  margin-top: 100px;
}

.card-image {
  cursor: pointer;
  cursor: hand;
}


.banner{
  background-image: url("https://s-media-cache-ak0.pinimg.com/564x/1d/d5/8c/1dd58cbc9f1f1c4457aa7c0e4fb28e34.jpg")
}

.container {
  background-color: white;
}


li.image {
margin: 10px;
overflow: hidden;
width:320px;
height:200px;
}

a.image2 {
margin: 10px;
overflow: hidden;
float: left;
width:760px;
height:400px;
}

.box1, .box2, .box3 {
  background-size: cover;
}

.box1 {
  background-image: url("https://www.walldevil.com/wallpapers/a22/homer-simpson-the-simpsons-donut-dessert-food.jpg");
}

.box2 {
  background-image: url("http://i.imgur.com/Jqewnaw.jpg?1");
}

.box3 {
  background-image: url("http://i.imgur.com/EohDwSy.jpg?2");
}

@media screen and (max-width: 1200px) {
  .advertise {
    visibility: hidden;
    display: none;
  }
}

