<h2>Log In</h2>
<div class="row">
  <form ng-submit="userCtrl.login()" class="col s12">
    <div class="input-field">
      <input ng-model="userCtrl.user.email" autocomplete="off" id="email" type="email" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input ng-model="userCtrl.user.password" autocomplete="off" id="password" type="password" required>
      <label for="password">Password</label>
    </div>
    <button  type="submit" name="action">
      Log In
    </button>
  </form>

  Dont' have an account? Create one!
      <button ui-sref="signup">Sign Up</button><br>
</div>
