<form ng-submit="userCtrl.signup()" class="center-form">
  <h2>Sign Up</h2>
  <br>
  <br>
    <div class="form-group">
    <h5>Name</h5>
      <input ng-model="userCtrl.user.name" autocomplete="off" id="name" type="textarea" required>
    </div>
    <div class="form-group">
    <h5>Email</h5>
      <input ng-model="userCtrl.user.email" autocomplete="off" id="email" type="textarea" required>
    </div>
    <div class="form-group">
    <h5>Password</h5>
      <input ng-model="userCtrl.user.password" autocomplete="off" id="password" type="textarea" required>
    </div>
    <div class="form-group">
    <h5>Street</h5>
      <input ng-model="userCtrl.user.street" pattern="[1-9][0-9]{0,4} [A-Za-z].+" autocomplete="off" id="street" type="textarea" required>
    </div>
    <div class="form-group">
    <h5>City</h5>
      <input ng-model="userCtrl.user.city" autocomplete="off" id="city" type="textarea" required>
    </div>
    <div class="form-group">
    <h5>Zipcode</h5>
      <input ng-model="userCtrl.user.zipcode" pattern="^\d{5}(?:[-\s]\d{4})?$" autocomplete="off" id="zipcode" type="textarea" required>
    </div>
    <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">
        Sign Up
    </button>
    <br>
    <br>
    <br>
    <br>
     Already have an account? Log in here!
    <br>
    <button class="waves-effect waves-light btn orange darken-1" ui-sref="login">Log in</button><br>
  </form>


