cart page
<br>
<br>
<br>

<h3 ng-show="p.Ctrl.cart.length>0">Your cart is empty!</h3>
<div ng-repeat="p in pCtrl.cart">
<div ng-show=""></div>

<table>
<tr>
  <th></th>
  <th>Product</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Subtotal</th>
</tr>
</tr>
<td><img class="float" ng-src='{{p.imageURL}}' height="100" width="100"></td>
<td><h4>{{p.name}}</h4></td>
<td>Price: ${{p.price}}</td>
<td>
  <a class="arrow" ng-click="pCtrl.decreaseItem(p)">&#8595;</a>
  Quantity: {{p.qty}}
  <a class="arrow" ng-click="pCtrl.addItemToCart(p)">&#8593;</a>
</td>
<td><strong>SubTotal: ${{p.price * p.qty}}</strong></td>
<td><input class="btn btn-warning" type="button" ng-click="pCtrl.decreaseItem(p)" value="Decrease"></td>
<td><input class="btn btn-success" type="button" ng-click="pCtrl.addItemToCart(p)" value="Increase"></td>
<td><input class="btn btn-danger" type="button" ng-click="pCtrl.deleteItem(p)" value="REMOVE"></td>
</tr>
</table>


</div>
<h3>Grand Total: ${{ pCtrl.getTotal() }} </h3>

