this is the product page


<h2><a ui-sref="editProduct">{{pCtrl.product.name}}</a></h2>
<img class="float" src='{{pCtrl.product.imageURL}}' height="300" width="300"><br>
<h5>Product Sku: {{pCtrl.product.sku}}</h5><br>
<h5>Price: ${{pCtrl.product.price}}</h5><br>
<h4>{{pCtrl.product.description}}</h4><br>
  <button class="btn-warning" ng-click="pCtrl.delProduct(product)" >delete</button>
  <input class="btn btn-success" type="button" ng-click="pCtrl.addItemToCart(pCtrl.product)" value="Add to Cart">




<!--       <span >
        <input type="text" ng-model="pCtrl.product.name">
        <button class="btn btn-xs btn-info" ng-click="pCtrl.editProduct(product)">Save</button>
      </span>
 -->

<!--       <span ng-hide="pCtrl.productEditing === product" ng-click="pCtrl.selectproduct(product)">{{product.name}}</span>
      <span ng-show="pCtrl.productEditing === product"> -->
        <input type="text" ng-model="pCtrl.product.name" id="name">
        <button class="btn btn-xs btn-info" ng-click="pCtrl.edit(product)">Save</button>
<!--       </span>
 -->
 <input type="text" ng-model="pCtrl.product.sku" id="name">
 <button class="btn btn-xs btn-info" ng-click="pCtrl.edit(product)">Save</button>


<!-- <form ng-submit="pCtrl.createReview()" class="col s12">
<div>
    <div class="input-field">
      <input ng-model="newCtrl.product.reviews.comment" autocomplete="off" id="comment" type="text" required>
      <label for="comment">comment</label>
    </div>
    <div class="input-field">
      <input ng-model="newCtrl.product.reviews.rating" autocomplete="off" id="rating" type="text" required>
      <label for="rating">rating</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
        Create product
    </button>
  </form>
</div> -->

<!--  <button class="btn btn-xs btn-info" ng-click="pCtrl.createReview(product)">review</button>

 -->

<form ng-show="navCtrl.isLoggedIn()" ng-submit="pCtrl.createReview()">
        <div class="form-group">
        <input ng-model="pCtrl.text" autocomplete="off" type="textarea" class="form-control" placeholder="comment">
        <!-- <input ng-model="pCtrl.rating" autocomplete="off" type="textarea" class="form-control" placeholder="rating"> -->
        <label for="rating">Rating: </label>
        <select name="rating" id="rating" ng-model="pCtrl.rating" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <button class="btn btn-default" type="submit">Add Comment</button>
 </form><br>

    <div class="panel" ng-repeat="review in pCtrl.product.reviews | orderBy:'createdAt':true track by $index">
      <div class="panel-header">&nbsp;&nbsp;Reviewed on: {{review.createdAt | date: "mediumDate"}}&nbsp;&nbsp;<span ng-show="review.reviewer == navCtrl.getUser()._id" ng-click="pCtrl.deleteReview(review)" class="glyphicon glyphicon-trash" id="delete-comment"></span></div>
      <div class="panel-body">
        <strong>Review:</strong> {{review.text}}<br>
        <strong>Rating:</strong> {{review.rating}}/5
        {{review.reviewer}}
      </div>
    </div>


